# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/2ahme/umsatzsteuerrechner/build/
/2ahme/umsatzsteuerrechner/dist/
/2ahme/ue_03 taschenrechner/build/
/2ahme/ue_03 taschenrechner/dist/
/2ahme/ue_05_Einkommenssteuer/build/
/2ahme/ue_05_Einkommenssteuer/dist/
/2ahme/Uebung/build/
/2ahme/Uebung/dist/
/2ahme/Uebung2/build/
/2ahme/Uebung2/dist/
/2ahme/Uebung3/build/
/2ahme/Uebung3/dist/
/2ahme/ue_06 schleifen/build/
/2ahme/ue_06 schleifen/dist/
/2ahme/ue_07_spannungsteilerrechner/build/
/2ahme/ue_07_spannungsteilerrechner/dist/
/2ahme/ue08_funktionen/build/
/2ahme/ue08_funktionen/dist/
/2ahme/ue09_spannungsteiler/build/
/2ahme/ue09_spannungsteiler/dist/
/2ahme/ue10_Funktionen/build/
/2ahme/ue10_Funktionen/dist/
/2ahme/UE11_Funktionen/build/
/2ahme/ue_11_funktionen/dist/
/2ahme/ue_12_stern-dreieckwiederstand/build/
/2ahme/ue_12_stern-dreieckwiederstand/dist/
/2ahme/ue13/nbproject/private/
/2ahme/ue14_felder/build/
/2ahme/ue_15_kleines1x1/dist/
/2ahme/ue_15_kleines1x1/build/
/2ahme/ue_13_zufallszahlen/build/
/2ahme/ue_13_zufallszahlen/dist/
/2ahme/ue_14_felder/dist/
/2ahme/Uebung4/dist/
/2ahme/Uebung4/build/
/3ahme/ue01_RechnenMitBruechen/build/
/3ahme/ue01_RechnenMitBruechen/dist/
/3ahme/ue_03_StatischeBerechnungen/build/
/3ahme/ue_04_felder/build/
/3ahme/ue_04_ekt-auswertung/build/
/3ahme/ue_04_ekt-auswertung/dist/
/3ahme/CppApplication_1/dist/
/3ahme/CppApplication_1/build/
/3ahme/uebung_primzahlen/build/
/3ahme/uebung_primzahlen/dist/
/3ahme/ue_05-felder/build/
/3ahme/ue_05-felder/dist/
/Uebung/Uebung_Zahhlensystemerechner/build/
/Uebung/Uebung_Zahhlensystemerechner/dist/
/Uebung/Uebung_Wahrheitstabelle/dist/
/Uebung/Uebung_Wahrheitstabelle/build/
/Uebung/Uebung_Monatstagerechner/dist/
/Uebung/Uebung_Monatstagerechner/build/
/Uebung/Uebung_Wasseraggregatzustand/build/
/Uebung/Uebung_Wasseraggregatzustand/dist/
/3ahme/LA1_01-RechenmitMatrizen/LA1_01-RechenmitMatrizen/dist/
/3ahme/LA1_01-RechenmitMatrizen/LA1_01-RechenmitMatrizen/build/
/3ahme/LA1/LA1_01-RechenmitMatrizen/dist/
/Uebung/Uebung_Statistik/build/
/Uebung/Uebung_Statistik/dist/
/Uebung/Uebung_EinMalEins/dist/
/Uebung/Uebung_EinMalEins/build/
/Uebung/Uebung_Exponentilrechner/dist/
/Uebung/Uebung_Exponentilrechner/build/
/Uebung/Anmeldefenster/build/
/Uebung/Uebung_loesche_bild/build/
/Uebung/Uebung_loesche_bild/dist/
/Uebung/Uebung_Wurfrechner/dist/
/Uebung/Uebung_Wurfrechner/build/
/Uebung/Uebung_Getraenkeautomat/dist/
/Uebung/Uebung_Getraenkeautomat/build/
/Uebung/Anmeldefenster/dist/
/Uebung/Uebung_strings/build/
/Uebung/Uebung_strings/dist/
/Uebung/Uebung_NFL-Tabellenrechner/build/
/Uebung/Uebung_NFL-Tabellenrechner/dist/
/Uebung/Uebung_Lotto6aus45/build/
/Uebung/Uebung_Lotto6aus45/dist/
/3ahme/ue_06_strings/dist/
/3ahme/ue_06_strings/build/
/Uebung/Uebung_Lotto2/dist/
/Uebung/Uebung_Lotto2/build/
/Uebung/Uebung_Impfung/dist/
/Uebung/Uebung_Impfung/build/
/Uebung/Uebung_TicTacToe/build/
/Uebung/Uebung_TicTacToe/dist/
/3ahme/Namen_sortieren_und_ausgeben/build/
/3ahme/Namen_sortieren_und_ausgeben/dist/
/3ahme/ue08_terminalausgabe/build/
/3ahme/ue08_terminalausgabe/dist/
/3ahme/ue_09_taschnrechner_im_terminal/build/
/3ahme/ue_09_taschnrechner_im_terminal/dist/