# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/2ahme/umsatzsteuerrechner/build/
/2ahme/umsatzsteuerrechner/dist/
/2ahme/ue_03 taschenrechner/build/
/2ahme/ue_03 taschenrechner/dist/
/2ahme/ue_05_Einkommenssteuer/build/
/2ahme/ue_05_Einkommenssteuer/dist/
/2ahme/Uebung/build/
/2ahme/Uebung/dist/
/2ahme/Uebung2/build/
/2ahme/Uebung2/dist/
/2ahme/Uebung3/build/
/2ahme/Uebung3/dist/
/2ahme/ue_06 schleifen/build/
/2ahme/ue_06 schleifen/dist/
/2ahme/ue_07_spannungsteilerrechner/build/
/2ahme/ue_07_spannungsteilerrechner/dist/
/2ahme/ue08_funktionen/build/
/2ahme/ue08_funktionen/dist/
/2ahme/ue09_spannungsteiler/build/
/2ahme/ue09_spannungsteiler/dist/
/2ahme/ue10_Funktionen/build/
/2ahme/ue10_Funktionen/dist/
/2ahme/UE11_Funktionen/build/
/2ahme/ue_11_funktionen/dist/
/2ahme/ue_12_stern-dreieckwiederstand/build/
/2ahme/ue_12_stern-dreieckwiederstand/dist/
/2ahme/ue13/nbproject/private/
/2ahme/ue14_felder/build/
/2ahme/ue_15_kleines1x1/dist/
/2ahme/ue_15_kleines1x1/build/
/2ahme/ue_13_zufallszahlen/build/
/2ahme/ue_13_zufallszahlen/dist/
/2ahme/ue_14_felder/dist/
/2ahme/Uebung4/dist/
/2ahme/Uebung4/build/
/3ahme/ue01_RechnenMitBruechen/build/
/3ahme/ue01_RechnenMitBruechen/dist/